*{
    color: antiquewhite;
    box-sizing: border-box;
}
.container{ 
    display: block;
    width: 800px;
    margin: 0 auto 0 200px;
    box-sizing: border-box;
}
.lista{
    display: flex;
}
body{
    background-color: #869597
    
    ;
}
h1{
    color: #ff5b4f;
}
h2{
    color: #F79D65;
}
h3{ 
    color: #F7B267;
}
h4{ 
    color: #F7B267;
}
.mark{
    background-color: #F4845F;
    }
.mark_2{
    background-color: #fbcf29;
    color: #515d5f;
}
