body{
    background-color: #515d5f
    
    ;
}
h1{
    color: #F4845F;
}
h2{
    color: #F79D65;
}
h3{ 
    color: #F7B267;
}
h4{ 
    color: #F7B267;
}
.mark{
    background-color: #F4845F;
}
*{
    color: antiquewhite;
}